@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #1D4068;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 8px #888888;
}

div.top {
    background-color: #3f5a7946;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    
}
h1{

    text-align: center;
    font-size: 60px;
    color: white;
}

.quote {
    text-align: center;
    color: white;
}

main {
    margin: auto;
    width: 1000px;
} 

div.personagem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    height: 300px;
    border: #1D4068 5px solid;
    border-radius: 20px;
    margin-bottom: 20px;
}
.personagem > img:hover  {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 4px 4px 8px #888888;
}

h2, h3, h4 {
    color: #1D4068;
    margin-bottom: 10px;
}

.cima {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo {
    background-color: #1D4068;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    

}

article {
    background-color: #d5eaf6;
    padding: 20px;
    border-radius: 10px;
    
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 25px;
    text-shadow: 1px 1px 2px #dbdbdb;
}