@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    background-color: #1D4068;
    padding: 10px;
    
    box-shadow: 4px 4px 8px #888888;
}

div.top {
    background-color: #3f5a7946;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    
}
h1{

    text-align: center;
    font-size: 60px;
    color: white;
}

.quote {
    text-align: center;
    color: white;
}

main {
    margin: auto;
    
    
} 

section > div.personagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url(imagens/parque/castelo_horizontal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 680px;
} 

section img {
    height: 280px;
    border: #1D4068 5px solid;
    border-radius: 20px;
    
}
img {
    border: #1D4068 5px solid;
    border-radius: 20px;
}
.personagem > img:hover  {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 4px 4px 8px #888888;
}

section.conteiner {
    margin: auto;
    padding: 20px;
    background-color: #EBF06d;
    border-radius: 10px;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
li {
    width: 500px;
    background-color: white;
    list-style: none;
    padding: 8px;
    border-radius: 10px;
    
    
}


h2, h3, h4 {
    color: #1D4068;
    margin-bottom: 10px;
}

.cima {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo {
    background-color: #1D4068;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    

}

article {
    background-color: #d5eaf6;
    width: 1000px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    
}

article p {
    
    text-align: justify;
    margin-bottom: 20px;
    line-height: 25px;
    text-shadow: 1px 1px 2px #dbdbdb;
}
.animais {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.faisca {
    background-color: #d5eaf6;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.faisca p {
    line-height: 30px;
}