@charset "UTF-8";

table {
    border-collapse: collapse;
}

table,tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    padding: 10px;
}
th {
    padding: 10px;
}
tr:nth-child(2n) {
    background-color: lightgreen;
}
a.button {
    display: inline-block;
    height:15px;
    text-align: center;
    padding: 20px;
    background-color: rgb(9, 122, 192);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0px 0px 5px black;
}
a.button:hover {
    background-color: rgb(6, 56, 87);
    transition: 1s;
    color: white;
    transform: scale(1.1);
}