@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    border-bottom: 1px solid #ccc;
}
.esq > img {
    height: 45px;
    margin: 20px;
    vertical-align: middle;
}

.esq > input {
    width: 500px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    vertical-align: middle;
    outline: none;
}

.links > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}