@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 150px;
    
}

div.top {
    display: flex;
    justify-content: space-between;
}
div.botao {
    display: flex;
    cursor: pointer;
    align-items: center;
}

div.foto {
    background-color: black;
    width: 35px;
    margin: 10px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.esq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.esq > img {
    height: 45px;
    margin: 20px;
    vertical-align: middle;
}

.pesquisa {
    width: 700px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    
    
}

input {
    vertical-align: middle;
    width: 550px;
    font-size: 16px;
    border: none;
    outline: none;
}

.pesquisa > img {
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

div.links {
    border-bottom: 1px solid #ccc;
}

.links > ul {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    list-style: none;
    gap: 15px;
} 

ul > li {
    padding: 15px 10px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

ul > li:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 2px solid blue;
    
}
div.quadrado {
    background-color: gray;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 1px;
}

main{
    margin: 0px 200px 0px 200px;
}

section {
    width: 800px;
}

h3 {
    font-size: 20px;
    color: blue;
    margin-bottom: 5px;
    cursor: pointer;
}

a {
    color: green;
}

p {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}