@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header{
    background: #FFE701;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

div.logomarca > img {
    width: 200px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, white, #FFE701 );
}

div.frase {
    color: #071689;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}