@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Rigid';
    src: url(RigidDisplayBold-PKjd2.otf) format('opentype');
}

body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header{
    background: #FFE701;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

div.logomarca > img {
    width: 200px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, white, #FFE701 );
}

div.frase {
    color: #071689;
    font-family: 'Rigid';
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}

article {
    background-color: #2d7be7;
}

.qualidades {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    
}

.icon {
    text-align: center;
    color: white;
    width: 100px;
    
}

div.iconimg > img {
    width: 100px;
    height: 100px;
}

.compra {
    display: flex;
    justify-content: center;
    background-color: #2d7be7;
    padding-bottom: 15px;
}
div.info {
    background-color: #FFE701;
    padding: 20px;
    border-radius: 5px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form > input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    
}

form > input[type="submit"] {
    width: 50px;
}

label {
    font-weight: bold;
    color: black;
}
