* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

.formathtml {
    color: blue;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica;

    text-align: justify;
    line-height: 60px;
    text-shadow: 3px 3px 5px rgb(24, 211, 123);
    
    
}

a {
    color: Green;
    text-decoration: none;
    
}

a:hover {
    color: red;
    text-decoration: underline;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.212);
    transition: 0.5s;
}