@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

div.topo {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    align-items: center;
    gap: 15px;

}

button {
    cursor: pointer;
    border: none;
    padding: 5px;
}

button:hover {
    background-color: #92c9f0;
    border-radius: 5px;
    transition: 0.8s;
}

div.foto {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

div.foto:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

div.botao {
    display: flex;
    cursor: pointer;
}

div.botao:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

div.quadrado {
    background-color: gray;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 1px;
}

div.google > img {
   width: 275px;
   margin-bottom: 15px;
}

div.barra {
    width: 688px;
    height: 52px;
    border-radius: 25px;
    border: 1px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.barra > input {
    flex: 1;
    height: 80%;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 16px;
    outline: none;
}

.barra > img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    
    
}

div.mecanismo {
    margin-top: 20px;
}

a.pesquisar {
    background-color: #f2f2f2;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 16px;
    margin: 11px 4px;
}

footer {
    background-color: rgb(189, 189, 189);
    /* padding: 20px; */
}

footer > p {
    padding: 15px;
    color: white;
    border-bottom: 1px solid gray;
}

div.info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
 }

div.info1 > a {
    color: white;
    padding: 15px;
    text-decoration: none;
 }