@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

div.topo {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    align-items: center;
    gap: 15px;

}

button {
    cursor: pointer;
    border: none;
    padding: 5px;
}

button:hover {
    background-color: #92c9f0;
    border-radius: 5px;
    transition: 0.8s;
}

div.foto {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

div.botao {
    display: flex;
    cursor: pointer;
}

div.botao:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

div.quadrado {
    background-color: gray;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 1px;
}