@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #619196;
    font-weight: bold;
    font-size: 16px;
}
body {
    background-color: #7f9ea159;
}

h1 {
    color: #487BA6;
    text-align: center;
    margin: 20px;
    font-size: 32px;
}
p {
    color: #487BA6;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;  
}

form {
    width: 600px;
    height: 700px;
    padding: 20px;
    margin:20px auto;
    border-radius: 8px;
}
fieldset {
    border: none;
}
.dados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div {
    margin: 15px;
}

input {
    border-radius: 5px;
    padding: 5px;
}

.endereço {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.click {
    background-color: #84b4c8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button {
    display: flex;
    justify-content: center;
    
}