@charset "UTF-8";

@keyframes exemplo {
    0% { background-color:red; top: 0px; left: 0px;}
    25% { background-color:blue; top: 0px; left: 200px;}
    50% { background-color:yellow; top: 200px; left: 200px;}
    75% { background-color:orange; top: 200px; left: 0px;}
    100% { background-color:green; top: 0px; left: 0px;}
}

input[type = "submit"] {
    border-radius: 5px;
    border: none;
    background-color: #cccc;
}
input[type = "submit"]:hover {
    background-color: #60b8ff;
    border: 1px solid black;
    cursor: pointer;
    transform: translatey(-1px);
    transition: transform 0.2s;
}
.container {
    background: linear-gradient(45deg, blue,red);
    height: 200px;
    width: 200px;
    border-top-left-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 10px;
    margin: auto;
}

.exemplo {
    width: 150px;
    height: 150px;
    background-color: green;
    position: relative;
    animation: exemplo 5s infinite;
    animation-delay: 0.5s;
        
}

