@charset "UTF-8";

input[type = "submit"] {
    border-radius: 5px;
    border: none;
    background-color: #cccc;
}
input[type = "submit"]:hover {
    background-color: #60b8ff;
    border: 1px solid black;
    cursor: pointer;
    transform: translatey(-1px);
    transition: transform 0.2s;
}
.container {
    background: linear-gradient(45deg, blue,red);
    height: 200px;
    width: 200px;
    border-top-left-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 10px;
    margin: auto;
}


