body {
    font-family: 'Courier New', Courier, monospace;
}

.box {
    width: 50%;
    background-color: #999;

}

.box-inteiro {
    width: 50%;
    background-color: #333;
    color: white;
    width: 12ch;
}